Source Code/Kamek/Build_*
Source Code/Kamek/processed
Source Code/Kamek/NewerASM
Source Code/Kamek/kamek_pal2.x
Source Code/Kamek/kamek_ntsc.x
Source Code/Kamek/kamek_ntsc2.x
Source Code/Kamek/kamek_jpn.x
Source Code/Kamek/kamek_jpn2.x
Source Code/Kamek/kamek_kor.x
Source Code/Kamek/kamek_twn.x
Source Code/Kamek/tools/*.pyc
*.pyc
Source Code/Kamek/tools/__pycache__
Source Code/Kamek/tmp
__pycache__
lzx.exe
/tools
Riivolution Patch/riivolution/config
